:root {
  --main-bg: #e3e3e3;
  --surface: white;
  --text-color: black;
  --on-hover: orange;
  --dropdown-item: white;
  --fact-text-color: black;
  --border: 8px;
  --shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  --link-color: lightgray;
  --algorithm-description: #faf7f7;
  --icon-color: #7a7a7a;
  --icon-background: lightgray;
  --highlighted-color: orange;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Calibri, Arial, sans-serif;
  color: var(--text-color);
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  background-color: var(--main-bg);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--surface);
  border-radius: 25px;
  z-index: 999;
  padding: 2rem;
  box-shadow: var(--shadow);
}

.homepage-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
  z-index: 10;
}

.homepage-subtitle {
  color: var(--text-color);
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  opacity: 85%;
}

.generate-random-graph {
  position: absolute;
  top: 10px;
  left: 10px;
}

.button {
  display: flex;
  align-items: center;
  background-color: #4299e1;
  border: none;
  border-radius: 9px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  outline: none;
}

.w {
  margin-left: 1rem;
}

.button:hover {
  cursor: pointer;
}

#dp-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.toggle-table-visibilty {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10000;
}

#dp-container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#dp-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #15314b;
}

.warning {
  color: white;
  padding: 1rem;
  border-radius: var(--border);
  background: rgb(217, 68, 48);
}

.math-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.custom-container {
  display: flex;
  justify-content: space-evenly;
}

.custom-nice-tree-container {
  height: 95%;
  width: 100%;
  padding: 1em;
}

.custom-control-area {
  height: 5%;
  width: 100%;
  padding: 0 1em 1em 1em;
}

#custom-nice-tree {
  width: 100%;
  height: 100%;
  background-color: var(--surface);
  border-radius: var(--border);
}

.progress-item:hover {
  height: 60%;
  transition: height 100ms ease-in;
  cursor: pointer;
}

#arrow {
  stroke: rgb(51, 51, 51);
  fill: rgb(51, 51, 51);
}

#app-area {
  position: relative;
  width: 70%;
  height: 100%;
}

.valid-td {
  width: 70%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.valid-td span {
  display: flex;
  align-items: center;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93%;
  background-color: var(--surface);
  border-radius: var(--border);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#output {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#output-surface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
  background: var(--surface);
  box-shadow: var(--shadow);
  border-radius: var(--border);
}

@media (min-width: 2000px) {
  #center-container {
    display: flex;
    height: 98%;
    width: 80%;
  }
}

@media (max-width: 2000px) {
  #center-container {
    display: flex;
    height: 98%;
    width: 98%;
  }
}

.dragLine.hidden {
  stroke-width: 0;
}

.dragLine {
  stroke: #333;
  stroke-width: 3px;
}

.graph-classes {
  display: flex;
  flex-direction: column;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.exercise-box {
  background-color: #d9e8ff;
  color: var(--dark-mode-text);
  border-radius: var(--border);
  padding: 1rem;
  line-height: 22px;
  font-size: 1rem;
  margin: 1rem 0;
}

.exercise-title {
  color: #738199;
  font-weight: bold;
}

.fact {
  color: var(--fact-text-color);
  background-color: #dfd;
  border-radius: 10px;
  padding: 12.5px;
}

.fact span {
  background-color: #dfd;
}

.fact-title {
  color: #2ca02c;
}

svg {
  z-index: 1;
}

.center-graph-td {
  display: flex;
  justify-content: center;
  align-items: center;
}

#graph-td {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#graph-container {
  height: 100%;
  width: 50%;
}

.choices {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  background-color: #2e2e2e;
  border-radius: var(--border);
}

.choice {
  flex: 0.1;
  padding: 0 0 0 30px;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  color: white;
  line-height: 1.2em;
  text-align: left;
}

.choice-text {
  margin-left: 20px;
}

.choice:hover {
  background-color: lightgray;
  cursor: pointer;
}

.choice:first-child {
  border-top-left-radius: var(--border);
  border-top-right-radius: var(--border);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.choice:last-child:hover {
  background-color: lightgray;
  cursor: pointer;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--border);
  border-bottom-right-radius: var(--border);
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;
  min-height: 50px;
}

.solution-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  flex: 0.1;
  min-height: 50px;
}

.correctness {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution-text {
  margin-top: 10px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-background {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
}

.logo-subheading {
  color: black;
  font-size: 20px;
  opacity: 60%;
}

.chapter-title {
  text-align: center;
  color: var(--text-color);
}

.overlay {
  position: fixed;
  z-index: 20000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.home-link {
  z-index: 1000;
  stroke: rgb(51, 51, 51);
  opacity: 0.9;
  stroke-width: 5px;
}

.exercise-container {
  background-color: lightblue;
  padding: 15px;
  margin-top: 20px;
}

.bag-nonhighlight {
  color: green;
}

.random-container {
  display: flex;
  flex: 0.2;
}

.content-container {
  flex: 0 1 1000px;
  padding: 0 25px 0 25px;
  overflow-y: auto;
}

.content {
  height: auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 26px;
  font-size: 1rem;
}

.d3-context-menu {
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  min-width: 150px;
  border: 1px solid #d4d4d4;
  z-index: 1200;
}

.d3-context-menu ul {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  padding: 0px;
  list-style-type: none;
  cursor: default;
}

.d3-context-menu ul li {
  cursor: pointer;
  margin: 0.2rem 0;
  width: 100%;
  color: var(--text-color);
}

.d3-context-menu ul li:hover {
  background-color: #4677f8;
  color: #fefefe;
}

.choice input[type='radio'] {
  background-color: white !important;
}

[type='radio']:not(:checked),
[type='radio']:checked {
  opacity: 1;
}

.exercise-box span {
  background-color: #d9e8ff;
}

.inout {
  background-color: #303030;
  padding: 8px;
  border-radius: 10px;
}

.normal-tree-node {
  fill: rgb(238, 238, 238);
  stroke: rgb(51, 51, 51);
  stroke-width: 3.5;
}

.label {
  fill: rgb(51, 51, 51);
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
}

.algorithm-description {
  background: var(--algorithm-description);
  border: 3.5px solid #f5eded;
  border-radius: var(--border);
  padding: 0 1rem;
}

.algorithm-description-step {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 0;
  padding: 0;
}

.algorithm-description-node-type {
  margin-top: 1rem;
}

#graph-tooltip {
  position: absolute;
  border: 1.5px solid lightgray;
  background-color: white;
  color: rgb(51, 51, 51);
  z-index: 100;
  padding: 4px;
  transform: translate(-100%, -50%);
}

.join {
  color: rgb(253, 180, 98);
}

.introduce {
  color: rgb(128, 177, 211);
}

.forget {
  color: rgb(251, 128, 114);
}

.controls-number {
  font-size: 26px;
  font-weight: bold;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.material-icons.code-buttons {
  font-size: 35px;
  padding: 0.1em;
}

.material-icons.code-buttons:hover {
  background-color: #626ee3;
  cursor: pointer;
  transition: 150ms background-color ease-in;
}

.material-icons.code-buttons:last-child:hover {
  background-color: #626ee3;
  border-radius: 0 8px 0 0;
  cursor: pointer;
  transition: 150ms background-color ease-in;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.container-text {
  font-size: 20px;
  font-weight: bold;
  opacity: 50%;
}

.material-icons.md-48 {
  font-size: 35px;
}

.material-icons.md-48:hover {
  cursor: pointer;
  color: var(--on-hover);
  transition: color 150ms ease-in;
}

.separator-exercise-output {
  display: flex;
  font-size: 1.1rem;
  align-items: center;
}

.exercise-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.correct-answer-icon {
  color: greenyellow;
}

.incorrect-answer-icon {
  color: red;
}

a {
  color: var(--text-color);
}

.leaf-node-sample {
  fill: rgb(217, 217, 217);
}
.introduce-node-sample {
  fill: rgb(128, 177, 211);
}
.forget-node-sample {
  fill: rgb(251, 128, 114);
}
.join-node-sample {
  fill: rgb(253, 180, 98);
}

.lo {
  margin-right: 0.5rem;
}

/*--------------------------------- Katex ---------------------------------*/
.katex {
  margin: 0 0.2rem;
  font-size: 1em !important;
}

/*--------------------------------- Sidebar Stuff Only ---------------------------------*/

.sidebar {
  border-radius: var(--border);
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  width: 30%;
  height: 100%;
  background-color: var(--surface);
  margin-right: 1em;
}

.sidebar a {
  color: #328dc9;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface);
  margin-top: auto;
  width: 100%;
}

.progress-item {
  border-right: 2px solid white;
  background: #e2e2e2;
  height: 40%;
}

.progress-item-active {
  border-width: 0 1px;
  border-color: #fff;
  background: #43e063;
  height: 40%;
  opacity: 75%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Thick red border */
hr.new4 {
  border: 0.1px solid lightgray;
  opacity: 50%;
}

.sidebar-pagination-buttons {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: auto;
}

.material-icons.pagination-arrows {
  font-size: 40px;
  color: #828282;
  z-index: 10000;
}

.material-icons.pagination-arrows:hover {
  color: orange;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
}

/*--------------------------------- Navbar Stuff Only ---------------------------------*/
.nav-wrapper {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  position: relative;
  z-index: 10000000;
  height: 0%;
  visibility: hidden;
  background-color: var(--surface);
}

.nav {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.nav svg {
  padding: 1rem;
  max-width: 40px;
  max-height: 40px;
}

@media (max-height: 1000px) {
  .nav svg {
    height: 20px;
    width: 20px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background: var(--dropdown-item);
  display: block;
  float: left;
  margin: 0 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a:hover {
  color: orange;
  cursor: pointer;
}

ul li ul {
  padding: 0;
  margin: 0;
  background: var(--dropdown-item);
  visibility: hidden;
  opacity: 0;
  min-width: 10rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  margin: 0.5rem;
  clear: both;
}

/* DP Table */
.table-wrapper {
  position: absolute;
  z-index: 100000;
  transform: translate(-98%, -2px);
  overflow-y: overlay;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--shadow);
}

.hamiltonianTable {
  min-width: 200px;
  background-color: white;
  color: black;
  border-collapse: collapse;
}

#tooltip-arrow {
  z-index: 9999999999;
  marker-end: url(#triangle);
  stroke: #15314b;
  stroke-width: 3.5px;
  position: absolute;
}

th {
  position: sticky;
  top: 0;
  background-color: #15314b;
}

.hamiltonianTable thead tr {
  background-color: #15314b;
  color: white;
  text-align: left;
  font-weight: bold;
}

.hamiltonianTable th,
.hamiltonianTable td {
  padding: 12px 15px;
}

.hamiltonianTable tbody tr {
  border-bottom: 1px solid lightgray;
}

.hamiltonianTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.hamiltonianTable tbody tr:last-of-type {
  border-bottom: 4px solid var(--table-color);
}

.tableVisible {
  opacity: 1;
}

.tableTransparent {
  opacity: 0;
}

.hamiltonianTable tbody .katex {
  background-color: white;
}

/* Spinner Loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Sandbox Mode */
.sandbox-grid {
  height: 98%;
  width: 98%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.card {
  position: relative;
  background: var(--surface);
  box-shadow: var(--shadow);
  border-radius: var(--border);
}

.card-tall {
  position: relative;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.draw-graph-button {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  color: var(--icon-color);
  opacity: 90%;
  z-index: 99999999999999999999999999999999999999999999999999999;
}

.custom-button {
  padding: 0.3rem;
  background: var(--icon-background);
  border-radius: 2rem;
  color: var(--icon-color);
  margin: 0 0.2rem;
  opacity: 90%;
  z-index: 99999999999999999999999999999999999999999999999999999;
}

#sandbox-graph {
  width: 100%;
  height: 100%;
}

.sandbox-grid svg {
  position: absolute;
}

.graph-buttons-container {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  display: flex;
}

/* Custom algorithm page */
.custom-algorithm-grid {
  height: 98%;
  width: 98%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.real-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.code-header {
  border-radius: 8px 8px 0 0;
  background: #15314b;
  height: 5%;
}

.code-container {
  height: 95%;
  width: 100%;
}

.custom-algorithm-grid svg {
  position: absolute;
}

.custom-code-container {
  width: 100%;
  height: 100%;
}

.code-block-container {
  height: 100%;
  width: 100%;
  padding: 1em 0 1em 1em;
  display: flex;
}

.cm-s-monokai.CodeMirror {
  background-color: var(--surface);
}

.CodeMirror {
  background-color: #001528 !important;
  border-radius: 0 0 8px 8px;
  height: 100% !important;
  width: 100% !important;
}

.CodeMirror-gutter {
  background-color: #001528;
}

.CodeMirror-linenumber {
  color: white !important;
}

#test {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.code-card {
  display: flex;
  flex-direction: column;
}

/* Tree decomposition */
.tree-node {
  fill: #2ca02c;
}

.tree-link {
  stroke: lightgray;
  stroke-width: 2.5px;
}

.highlighted-link {
  stroke: var(--highlighted-color);
  stroke-width: 5px;
}

/* Graph Stuff */
.graph-node {
  fill: #b3de69;
  stroke: rgb(51, 51, 51);
  stroke-width: 3px;
}

.graph-node:hover {
  fill: orange;
}

.graphLink {
  fill: black;
  stroke: rgb(51, 51, 51);
  stroke-width: 3px;
}

.graph-label {
  fill: rgb(51, 51, 51);
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
}

circle:hover {
  cursor: pointer;
}

ellipse:hover {
  cursor: grab;
}


.highlighted-stroke {
  stroke: lightgreen !important;
  stroke-width: 3.5px;
}


/* Tree container */
#tree-container {
  position: relative;
  height: 100%;
  width: 50%;
}

.multi-tree-container {
  flex: 0.33;
  overflow: hidden;
}

svg {
  overflow: hidden;
}

.highlighted-node {
  fill: orange !important;
  stroke: orange !important;
  cursor: pointer;
}

.highlighted-text {
  fill: white;
}

.highlighted-vertex {
  fill: orange;
  transition: fill 300ms;
}

.nonhighlight {
  /* fill: #1f77b4; */
}

.separating-node {
  fill: #00e322;
}

.not-separating-node {
  fill: red;
}