html {
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none; /* supported by Chrome and Opera */
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  height:100vh;
  padding: 0;
  margin: 0;
}

/* Sidenav */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav p {
  color:white;
  font-size: 13px;
  font-weight: 600;
}

.sidenav {
  flex-shrink: 0;
  background-color: #161e2e;
  color: white;
  text-align: center;
  overflow-x: hidden;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.btn {
  padding: 10px;
  border: solid 2px white;
}

.step1 {
  background-color: #212d45;
  padding: 20px;
}

.step2 {
  background-color: #212d45;
  padding: 20px;
}

.step3 {
  background-color: #212d45;
  padding: 20px;
}

#compute:hover, #computeNiceTree:hover, #bfs:hover, #mis:hover, #three-color:hover, #max-independent-set:hover {
  cursor: pointer;
  background: tomato;
  transition: background-color .3s;
}

#3color:hover {
  cursor: pointer;
  background: tomato;
  transition: background-color .3s;
}

.sidenav span:hover {
  cursor: pointer;
  background-color: tomato;
  transition: background-color .3s;
}

#reloadRandomGraph {
  font-size: 40px;
  color: white;
}

.reload-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.draw-graph-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.hoverable:hover {
  background-color: tomato;
  cursor: pointer;
  transition: background-color .2s;
}

.buttons {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.buttons p {
  padding: 10px;
}

.random-style {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.number-of-vertices {
  display: flex;
  align-items: center;
  user-select: none;
}

.number-of-links {
  user-select: none;
  display: flex;
  align-items: center;
}

.random-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-generator input, textarea {
  font    : .9em/1.5em "handwriting", 'Inter';
  border  : none;
  padding : 0px;
  margin  : 0;
  width   : 30px;
  background: none;
  color: white;
  font-weight: 600; 
  font-size: x-large; 
  text-align: center; 
}

.flex-container {
  overflow: hidden;
  height:100vh;
  padding: 0px;
  display: flex;
  width: 100%;
  text-align: center;
}

.left-container {
  height: 100%;
  flex: 0.5;
}

.right-container {
  height: 100%;
  flex: 0.5;
}

#graph-container {
  height: 50%;
}

#td-container {
  height: 50%;
}

#tdSvg{
  width: 100%;
  height: 100%;
}

#graphSvg {
  width: 100%;
  height: 100%;
}

#nice-td-container {
  width: 100%;
  height: 100%;
}

.drawGraphSvg {
  height: 50%;
  width: 100%;
}

.treeSvg {
  height: 100vh;
  width: 100vh;
}

.material-icons.md-36 { 
  font-size: 30px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden > div {
  display: none;
}

.visible > div {
  display: block;
} 

text {
  font-size: 10px;
  pointer-events: none;
}

/* path.link {
  fill: #fcba03;
  stroke: #fcba03;
  stroke-width: 8px;
  cursor: default;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}
 */
.drag_line {
  stroke: 	#FF0000;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke-width: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.table {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 20px;
  margin-top: 20px;

}

.niceTreeLink {
  stroke: black;
  stroke-width: 5px;
}

/* Node styling here */
.graphNode {
  fill: steelblue;
  stroke: black;
  stroke-width: 2.5px;
  vertical-align: center;
}

.treeDecompositionNode {
  fill: slateblue;
}

.niceTreeDecompositionNode {
  fill: #3483eb;
  stroke: black;
  stroke-width: 5px;
}

 .link {
  stroke: black;
  stroke-width: 5px;
  stroke-linecap: round;
} 

.highlighted-link {
  stroke: orange;
  stroke-width: 5px;
}

.label {
  pointer-events: none;
  font-size: 10px;
  fill: white;
  font-weight: 800;
}

.root-node-color {
  color: orange;
}

.join-node-color {
  color: blue;
}

.introduce-node-color {
  color: green;
}

.forget-node-color {
  color: red;
}

.leaf-node-color {
  color: black
}

.nice-td-info {
  position: absolute;
  text-align: left;
  margin-left: 10px;
  font-weight: 500;
}