html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', 'Helvetica', sans-serif;
  height: 100%;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav p {
  color: black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#reload {
  font-size: 50px;
  color: black;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.graphStyle {
  flex: 0.5;
}

.treeStyle {
  flex: 0.5;
}

.graphSvg {
  height: 100%;
  width: 100%;
}

.treeSvg {
  height: 100%;
  width: 100%;
}
.node {
  fill: #1a7532;
}

.link {
  stroke: #333;
  stroke-width: 1.5px;
}

.label {
  pointer-events: none;
  font-size: 8px;
  fill: white;
  font-weight: 1000;
}

.sidenav {
  flex-shrink: 0;
  background-color: #eee;
  text-align: center;
  overflow-x: hidden;
}

#arrows {
  font-size: 25px;
}

.sidenav button:hover {
  cursor: pointer;
}

.sidenav span:hover {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden > div {
  display: none;
}

.visible > div {
  display: block;
}
