:root {
  --table-color: #15314B;
  --dark-mode-text: rgb(51, 51, 51);
  --main-bg: #121212;
  --surface: #1E1E1E;
  --on-hover: #7a7a7a;
  --text-color: #E0E0E0;
  --border: 8px;
}

html {
  height: 100%;
  margin: 0;
  user-select: none;
  font-family: Helvetica Neue, Calibri, Arial, sans-serif;
  color: var(--text-color);
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main {
  display: flex;
  background-color: var(--main-bg);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav {
  height: 0%;
  display: flex;
  background-color: var(--surface);
  box-shadow: 0 7px 9px -2px rgba(0,0,0,.9);
}

.nav-item {
  display: inline-flex;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  letter-spacing: .05em;
}

.github-logo {
  margin-top: .5em;
  color: #fff;
}

.nav a:hover{
  background-color: var(--on-hover);
  transition: background-color 150ms ease-in;
  cursor: pointer;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 25%;
  background-color: #141414;
  border-radius: 25px;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 78px -27px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 78px -27px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 78px -27px rgba(0,0,0,0.75);
}

.table-wrapper {
  position: absolute;
  transform: translate(-100%, -2px);
  z-index: 10;
  width: 30%;
  height: 30%;
  overflow: auto;
}

.tableVisible {
  opacity: 1;
}

.tableTransparent {
  opacity: 0;
}

#dp-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.toggle-table-visibilty {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: black;
  padding: 0 10px 0 10px;
  background-color: #D3D3D3;
  border-radius: 5px;
  z-index: 10000;
}

#dp-container::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#dp-container::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #15314B;
}

.hamiltonianTable {
  background-color: white;
  color: black;
  border-collapse: collapse;
  font-size: 1.2em;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color: #15314B;

}

.hamiltonianTable thead tr {
  background-color: #15314B;
  color: white;
  text-align: left;
  font-weight: bold;
}

.hamiltonianTable th,
.hamiltonianTable td {
    padding: 12px 15px;
}

.hamiltonianTable tbody tr {
  border-bottom: 1px solid lightgray;
}

.hamiltonianTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.hamiltonianTable tbody tr:last-of-type {
  border-bottom: 4px solid var(--table-color);
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 24px;
  opacity: 85%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  width: 30%;
  height: 100%;
  background-color: var(--surface);
  margin-right: 1em;
  border-radius: var(--border);
}

.progress-bar-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar-container:first-child {
  background-color: 'yellow';
}

.progress-bar-container:last-child {
  background-color: 'blue';
}

.progress-item {
  border-right: 2px solid white;
  background: #e2e2e2;
  height: 40%;
}

.progress-item-active {
  border-width: 0 1px;
  border-color: #fff;
  background: #43e063;
  height: 40%;
  opacity: 75%;
}

.custom-container {
  display: flex;
  justify-content: space-evenly;
}

.custom-nice-tree-container {
  height: 95%;
  width: 100%;
  padding: 1em;
}

.custom-control-area {
  height: 5%;
  width: 100%;
  padding: 0 1em 1em 1em;
}

#custom-nice-tree {
  width: 100%;
  height: 100%;
  background-color: var(--surface);
  border-radius: var(--border);
}

.progress-item:hover {
  height: 60%;
  transition: height 100ms ease-in;
  cursor: pointer;
}

.nav-buttons-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: auto
}

#arrow {
  stroke: rgb(51, 51, 51);
  fill: rgb(51, 51, 51);
}

.material-icons.nav-arrows {
  font-size: 40px;
  color: #828282;
  z-index: 10000;
}

.material-icons.nav-arrows:hover {
  color: orange; 
  cursor: pointer;
}

#app-area {
  position: relative;
  width: 70%;
  height: 100%
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  background-color: var(--surface);
  border-radius: var(--border);
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10%;
  font-size: 14px;
  padding: 15px;
}

#max-output {
  height: 50%;
}

#separator-output {
  height: 50%;
}

#center-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1em;
}

h2 {
  font-size: 30px;
}

.dragLine.hidden {
  stroke-width: 0;
}

.dragLine {
  stroke: #333;
  stroke-width: 3px;
}

.graph-classes {
  display: flex;
  flex-direction: column;
}

.graph-class {
  flex: 1;
  border: 1px solid red;
}

strong {
  font-weight: 1000;
}

.table {
  width: auto;
  z-index: 1000;
  background-color: white;
  color: rgb(51, 51, 51);
  position: absolute;
  /* border: 1px solid rgb(51, 51, 51); */
  padding: 15px;
  transform: translate(-100%, -2px);
}

.table td {
  padding: 0 25px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.sets:hover {
  cursor: pointer;
  background-color: orange;
  user-select: none;
}

td {
  user-select: none;
}

.not-drawing {
  cursor: default;
}

.creating-link {
  cursor: pointer;
}

.control-keys {
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.drawinng {
  cursor: crosshair;
}

.exercise-box {
  background-color: #d9e8ff;
  color: var(--dark-mode-text);
  border-radius: 10px;
  padding: 12.5px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 22px;
}

.exercise-title {
  color: #738199;
  font-weight: bold;
}

.mathdefault {
  font-size: 18px;
}

.katex {
  /* font-size: 6px; */
  /* margin: .2em; */
  /* background-color: #15314b; */
  /* border-radius: 5px; */
  padding: .05em .2em .05em .2em;
}

.highlight {
  background: url(Resources/brush_stroke.png);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 10px 50px;
}

.fact {
  color: var(--surface);
  background-color: #dfd;
  border-radius: 10px;
  padding: 12.5px;
}

.fact span {
  background-color: #dfd;
}

.fact-title {
  color: #2ca02c;
}

.drawing-disabled {
  pointer-events: none;
  cursor: pointer;
}

.exercise-result {
  margin-top: 30px;
  margin-bottom: 30px;
}

.correct-answer {
  vertical-align: middle;
  color: green;
}

.wrong-answer {
  vertical-align: middle;
  color: red;
}

.tree-width-container {
  display: flex;
  flex-direction: column;
  background-color: lightsalmon;
  height: 100%;
  width: 400px;
}

.tw-graph {
  flex: 1;
  background-color: lightseagreen;
}



#exercise-result {
  margin-top: 30px;
}

svg {
  z-index: 1;
}

.center-graph-td {
  display: flex; 
  justify-content: center;
  align-items: center;
}

#graph-td {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#graph-container {
  height: 100%;
  width: 50%
}

#tree-container {
  height: 100%;
  width: 50%;
}


.choices {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
  background-color: #2e2e2e;
  border-radius: var(--border);
}

.choice {
  flex: 0.1;
  padding: 0 0 0 30px;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  color: white;
  line-height: 1.2em;
  text-align: left;
}

.choice-text {
  margin-left: 20px;
}

.choice:hover {
  background-color: lightgray;
  cursor: pointer;
}

.choice:first-child {
  border-top-left-radius: var(--border);
  border-top-right-radius: var(--border);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.choice:last-child:hover {
  background-color: lightgray;
  cursor: pointer;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--border);
  border-bottom-right-radius: var(--border);
}

.speech-bubble-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  width: 300px;
  transform: translate(-50%, -50%); 
  border: 1px solid lightgray;
  background-color: white;
}

.text-container {
  flex: 0.7;
  width: 100%;
  text-align: center;
  vertical-align: center;
  align-items: center;
  line-height: 20px;
  font-size: 20px;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;
  min-height: 50px;
}

.solution-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  flex: 0.1;
  min-height: 50px;
}

.correctness {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution-text {
  margin-top: 10px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tw-intro {
  width: 50%;
  height: 50%;
}

.result-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin-top: 20px; 
  margin-bottom: 20px;
  padding: 15px;
}

.result-math {
  padding-top: 10px;
  padding-bottom: 10px;
}


.vertex-in-max-set {
  fill: green;
}

.yepc {
  z-index: 10;
  width: 100px;
  height: 100px;
}

.highlighted-link {
  stroke: orange;
}

.highlighted-node {
  fill: orange !important;
  stroke: orange !important;
  cursor: pointer;
}

.highlighted-text {
  fill: white;
}

.highlighted-stroke {
  stroke: lightgreen !important;
  stroke-width: 3.5px;
}

.moving-node {
  cursor: grabbing;
}
.graphLink {
  stroke: var(--text-color);
  opacity: 60%;
  stroke-width: 2px;
}

.graphNode {
  stroke: rgb(51, 51, 51);
  stroke-width: 3.5px;
}

.highlighted-vertex {
  fill: orange;
  transition: fill 300ms;
}

.nonhighlight {
 fill: #1f77b4;
}

.separating-node {
  fill: #00e322;
}

.not-separating-node {
  fill: red;
}

.logo-background {
  position: absolute;
  font-size: 25px;
  font-weight: bold;
}

.logo-subheading {
  color: black;
  font-size: 20px;
  opacity: 60%;
}

.chapter-title {
  text-align: center;
}

.overlay {
  position: fixed;
  z-index: 20000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
}

.roadmap-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  background-color: white;
  border-radius: 4px;
}

.roadmap-chapters {
  display: flex;
  flex-direction: column;
}

.roadmap-title {
  flex: 0.2;
  font-size: 30px;
  font-weight: 600;
}

.roadmap-chapters {
  flex: 0.8;
  margin-bottom: 15px;
}

.roadmap-item {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
}

.roadmap-item-active {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #43e063;
  opacity: 90%;
}

.roadmap-item:hover {
 color: orange;
 transition: color 350ms;
 cursor: pointer;
}

.roadmap-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
}

.roadmap-close:hover {
  color: orange;
  transition: color 350ms;
  cursor: pointer;
}

.home-link {
  z-index: 1000;
  stroke:rgb(51, 51, 51);
  opacity: .9;
  stroke-width: 5px;
}

.math-container {
  background-color: lightblue;
  padding: 15px;
  margin-top: 20px;
}

.proof-container {
  background-color: lightgreen;
  padding: 15px;
  margin-top: 20px;
}

.exercise-container {
  background-color: lightblue;
  padding: 15px;
  margin-top: 20px;
}

.bag-nonhighlight {
  color: green;
}

.random-container {
  display: flex;
  flex: 0.2
}

.content-container {
  flex: 0 1 1000px;
  padding: 0 25px 0 25px;
  overflow-y: auto;
}

.content {
  height: auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 26px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: lightgray;
  height: 1px;
}

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}

.choice input[type="radio"] {
  background-color: white !important;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
  opacity: 1;
}

.exercise-box span {
  background-color: #d9e8ff;
}

.inout {
  background-color: #303030;
  padding: 8px;
  border-radius: 10px;
}

.pure-material-button-contained {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
  margin-top: 15px;
  margin-bottom: 15px;
}

.pure-material-button-contained::-moz-focus-inner {
  border: none;
}

/* Overlay */
.pure-material-button-contained::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
  opacity: 0.08;
}

.pure-material-button-contained:focus::before {
  opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
  box-shadow: none;
  cursor: initial;
}

.pure-material-button-contained:disabled::before {
  opacity: 0;
}

.pure-material-button-contained:disabled::after {
  opacity: 0;
}

.normal-tree-node {
  fill: rgb(238, 238, 238);
  stroke: rgb(51, 51, 51);
  stroke-width: 3.5;
}

svg {
  position: absolute;
}

.tree-node {
  fill: #2ca02c;
}

.tree-link {
  stroke: white;
  stroke-width: 2.5px;
}

.label {
  fill: rgb(51, 51, 51);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
}

.graph-label {
  fill: #eee;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
}

#tooltip-arrow {
  marker-end: url(#triangle);
  opacity: 1;
  stroke: rgb(51, 51, 51);
  stroke-width: 3.5px;
  position: absolute;
}

#graph-tooltip {
  position: absolute;
  border: 1.5px solid lightgray;
  background-color: white;
  color: rgb(51, 51, 51);
  z-index: 100;
  padding: 4px;
  transform: translate(-100%, -50%);
}

.join {
  color: rgb(253,180,98);
}

.introduce {
  color: rgb(128,177,211);
}

.forget {
  color: rgb(251,128,114);
}

.controls-number {
  font-size: 26px;
  font-weight: bold;
}

.main-sandbox {
  display: flex;
  flex: 1;
  width: 100%;
  top: 0px;
  align-items: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.sandbox-sidebar-container {
  width: 50px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--surface);
  border-radius: var(--border);
  padding: .2em;
  margin: 0 1em 0 1em;
}

.sandbox-sidebar-container > span {
  margin: .1em;
}

.custom-left {
  height: 100%;
  width: 50%;
}

.custom-right {
  width: 50%;
  height: 100%;
}

.custom-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--surface);
  width: 100%;
  height: 100%;
  border-radius: var(--border);
}

.sandbox-app-container {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
}

.custom-code-container {
  width: 100%;
  height: 100%;
}

.code-block-container {
  height: 100%;
  width: 100%;
  padding: 1em 0 1em 1em;
  display: flex;
}

.cm-s-monokai.CodeMirror {
  background-color: var(--surface);
}

.CodeMirror {
  background-color: #001528 !important;
  border-radius: 0 0 8px 8px;
}

.CodeMirror-gutter {
  background-color: #001528;
}

.CodeMirror-linenumber {
  color: white !important;
}

.code-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #15314b;
  border-radius: 8px 8px 0 0;
  height: 5%;
}

.hamiltonianTable tbody .katex {
  background-color: white;
}

.material-icons.code-buttons {
  font-size: 35px;
  padding: .1em;
}

.material-icons.code-buttons:hover {
  background-color: #626ee3;
  cursor: pointer;
  transition: 150ms background-color ease-in;
}

.material-icons.code-buttons:last-child:hover {
  background-color: #626ee3;
  border-radius: 0 8px 0 0;
  cursor: pointer;
  transition: 150ms background-color ease-in;
}

.custom-sidebar {
  height: 95%;
  /* display: flex; */
  /* flex: 0.8; */
  /* max-height: 31%; */
}

.slider {
  height: auto;
}

.sandbox-button {
  display: inline-block;
  position: relative;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}

.sandbox-button-disabled {
  pointer-events: none;
  display: inline-block;
  position: relative;
  background-color:lightgray;
  color: #fff;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sandbox-button-disabled:hover {
  cursor: not-allowed;
}

.sandbox-button:hover {
  transition: background-color 0.3s;
  background-color: #555;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 0;
  width: 50%;
  height: 100%;
}

.surface {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  border-radius: var(--border);
  background-color: var(--surface);
}

.sandbox-graph-container {
  display: flex;
  flex: .5;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.nice-tree-container {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 0;
  flex: 1;
  width: 100%;
  position: relative;
}

.right-side {
  display: flex;
  width: 50%;
  height: 100%;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.container-text {
  font-size: 20px;
  font-weight: bold;
  opacity: 50%;
}

.material-icons.md-48 {
  font-size: 35px;
}

.material-icons.md-48:hover {
  cursor: pointer;
  color: var(--on-hover);
  transition: color 150ms ease-in;
}

.big {
  position: relative;
}

.big::before, 
.big::after {
  --scale: 0;
  position: absolute;
  left: 125%;
  transform:  scale(var(--scale));
  transition: 150ms transform;
  transform-origin: left center;
}

.big::before {
  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  width: max-content;
  background: #474747;
  font-weight: bold;
}

.big:hover::before,
.big:hover::after{
 --scale: 1;
 z-index: 500;
}

.nav-links {
  margin-left: auto;
  opacity: 0;
}

ul {
  list-style: none; 
}

.chapter-button {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  /* padding: .6em; */
}

.nav-comp {
  margin-right: 1em;
}

ul li {
  display: block;
  position: relative;
  float: left;
}

/* This hides the dropdowns */
li ul {
  display: none;
  z-index: 99999;
}

ul li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover {
  background: #2c3e50;
}

/* Display the dropdown */
li:hover > ul {
  display: block; 
  position: absolute;
  border: 1px solid lightgray;

}

/* Remove float from dropdown lists */
li:hover li {
    float: none;
}

li:hover a {
  background: var(--surface);
}

li:hover li a:hover {
  background: #2c3e50;
}

.main-navigation li ul li {
  border-top: 0;
}
/* Displays second level dropdowns to the right of the first level dropdown */
ul ul ul {
  left: 100%;
  top: 0; 
}

/* Simple clearfix */

ul:before,
ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul:after {
    clear: both;
}