body {
  display: flex;
  flex-direction: row;
  font-family: 'Segoe UI', 'Helvetica', sans-serif;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav p {
  color: black;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#reload {
  font-size: 50px;
  color: black;
}

.sidenav > div:hover {
  background-color: #cecef6;
  cursor: pointer;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 1000px;
}

.graphStyle {
  flex: 0.5;
  border: 2px solid yellow;
}

.treeStyle {
  flex: 0.5;
  border: 2px solid yellow;
}

.graphSvg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.treeSvg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.node {
  fill:#1a7532
}

.link {
  stroke: #333;
  stroke-width: 2px;
}

.label {
  font-size: 8px;
  fill: white;
  font-weight: 1000;
}

.sidenav {
  flex-shrink: 0;
  background-color: #eee;
  overflow-x: hidden;
}

