html {
  height: 100%;
  margin: 0;
  user-select: none;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Calibri, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.nav {
  flex: 0.05; 
  background-color: lightblue;
  align-items: flex-start;
  background-color: #333;
  overflow: hidden;
}


.logo {
  display: inline-flex;
  height: 100%;
  width: auto;
  align-items: center;
  margin-left: 15px;
}

.logo-title {
  margin-left: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.main {
  display: flex;
  flex: .95;
  justify-content: center;
  align-items: center;
  font-family: 'Walter Turncoat', Calibri, Arial, sans-serif;
  /* height: 100%; */
  width: 100%;
  /* position: absolute; */
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  overflow: hidden;
}


.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  height: 100%;
  padding: 15px;
}

.nav-buttons-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: auto
}

#app-area {
  flex: 0.7;
  height: 100%
}

#container {
  display: flex;
  height: 80%;
  border: 1px solid lightgray;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

#max-output {
  height: 50%;
}

#separator-output {
  height: 50%;
}

#center-container {
  display: flex;
  height: 80%;
  flex: 0.9;
}

.dragLine.hidden {
  stroke-width: 0;
}

.dragLine {
  stroke: #333;
  stroke-width: 3px;
}

.table {
  z-index: 2;
  background-color: white;
  position: absolute;
  border: 1.5px solid lightgray;
  padding: 20px;
  transform: translate(-100%, 25px);
}

.table td {
  padding: 0 25px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.sets:hover {
  cursor: pointer;
  background-color: orange;
  user-select: none;
}

td {
  user-select: none;
}



.not-drawing {
  cursor: default;
}

.creating-link {
  cursor: pointer;
}

.control-keys {
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* div.tooltip {
  position: absolute;
  z-index: 1;
  background-color: white;
  height: auto;
  padding: 1px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
} */

.drawinng {
  cursor: crosshair;
}

.exercise-box {
  background-color: lightblue;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.drawing-disabled {
  pointer-events: none;
  cursor: pointer;
}

.exercise-result {
  margin-top: 30px;
  margin-bottom: 30px;
}

.correct-answer {
  vertical-align: middle;
  color: green;
}

.wrong-answer {
  vertical-align: middle;
  color: red;
}

.tree-width-container {
  display: flex;
  flex-direction: column;
  background-color: lightsalmon;
  height: 100%;
  width: 400px;
}

.tw-graph {
  flex: 1;
  background-color: lightseagreen;
}



#exercise-result {
  margin-top: 30px;
}

.btn {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 12px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 5px 15px;
  /* display: inline-block; */
  margin: 15px 0px 15px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: rgb(31, 119, 180);
  color: #fff;
  box-shadow: 0 6px rgb(58, 142, 199);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 0 0 5px 5px;
}

svg {
  z-index: 1;
  position: absolute;
}

.btn-container {
  cursor: pointer;
}

.center-graph-td {
  display: flex; 
  justify-content: center;
  align-items: center;
}

#graph-td {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#graph-container {
  height: 100%;
  width: 50%
}

#tree-container {
  height: 100%;
  width: 50%;
}


.choices {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
}

.choice {
  flex: 0.1;
  padding: 0 0 0 30px;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 50px;
  color: #333;
  line-height: 1.2em;
  text-align: left;
}

.choice-text {
  margin-left: 20px;
}

.choice:hover {
  background-color: lightgray;
  cursor: pointer;
}

.speech-bubble-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  width: 300px;
  transform: translate(-50%, -50%); 
  border: 1px solid lightgray;
  background-color: white;
}


.text-container {
  flex: 0.7;
  width: 100%;
  text-align: center;
  vertical-align: center;
  align-items: center;
  line-height: 20px;
  font-size: 20px;
}

.quiz {
  flex: 0.2;
} 

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.1;
  min-height: 50px;
}

.solution-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  flex: 0.1;
  min-height: 50px;
}

.correctness {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solution-text {
  margin-top: 10px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tw-intro {
  width: 50%;
  height: 50%;
}

.result-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin-top: 20px; 
  margin-bottom: 20px;
  padding: 15px;
}

.result-math {
  padding-top: 10px;
  padding-bottom: 10px;
}


.vertex-in-max-set {
  fill: green;
}

.tree-link {
  stroke: black;
  stroke-width: 3.5px;
  z-index: -1;
}

.yepc {
  z-index: 10;
  width: 100px;
  height: 100px;
}

#tooltip {
  background-color: white;
  border: 2.5px solid black;
  z-index: 100000;
  padding: 15px;
  transform: translate(-100%, 25px);
}

#tooltip-arrow { 
  position: absolute;
  width: 50px;				/* width of image (px or % or auto) */
  height: auto;	
  padding: 0px; 
  margin: 0px;
  line-height: 100%;
  z-index: 100;
  transform: translate(-100%, -50%);
}

.highlighted-link {
  stroke: orange;
}

.highlighted-node {
  fill: orange !important;
  stroke: orange !important;
  cursor: pointer;
}

.highlighted-text {
  fill: white;
}

.highlighted-stroke {
  stroke: lightgreen !important;
  stroke-width: 3.5px;
}

.moving-node {
  cursor: grabbing;
}
.graphLink {
  stroke: rgb(51, 51, 51);
  stroke-width: 3.5;
}

.label {
  fill: white;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
  user-select: none;
}

.graphNode {
  stroke: rgb(51, 51, 51);
  stroke-width: 3.5px;
}

.highlighted-vertex {
  fill: orange;
  transition: fill 300ms;
}

.nonhighlight {
 fill: #1f77b4;
}

.separating-node {
  fill: #00e322;
}

.not-separating-node {
  fill: red;
}

.nav-links:hover {
  color: orange;
  cursor: pointer;
}

.logo-background {
  position: absolute;
  background: url(Resources/brush_stroke.png);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 50px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  transform: translate(-50%, -50%); 
}

.yellow-brush-stroke {
  position: absolute;
  background: url(Resources/yellow_brush_stroke.png);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 70px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  transform: translate(-50%, -50%); 
}

.logo-subheading {
  color: black;
  font-size: 20px;
  opacity: 60%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
  transition: color 300ms;
}

.chapter-title {
  text-align: center;
}

.chapters {
  z-index: 2;
  position: absolute;
  font-size: 40px;
  bottom: 30px;
  left: 30px;
}

.chapters:hover {
  color: orange;
  cursor: pointer;
}

.roadmap-container {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
}

.roadmap-container text:hover {
 color: orange;
 cursor: pointer;
}

.roadmap-chapters {
  display: flex;
  flex-direction: column;
}

.roadmap-title {
  flex: 0.2;
  font-size: 40px;
  align-self: center;
}

.roadmap-chapters {
  flex: 0.8;
}

.home-link {
  z-index: 1000;
  stroke:rgb(51, 51, 51);
  opacity: .9;
  stroke-width: 5px;
}

.math-container {
  background-color: lightblue;
  padding: 15px;
  margin-top: 20px;
}

.proof-container {
  background-color: lightgreen;
  padding: 15px;
  margin-top: 20px;
}

.exercise-container {
  background-color: lightblue;
  padding: 15px;
  margin-top: 20px;
}

.bag-nonhighlight {
  color: green;
}

.random-container {
  display: flex;
  flex: 0.2
}

.content-container {
  overflow-y: auto;
}

.content {
  font-size: 18px;
  line-height: 26px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#eee;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}

li {
  margin: 0 0 3px 0;
}

.tree-node {
  fill: #2ca02c;
}

.join {
  color: yellow;
}

.introduce {
  color: blue;
}

.forget {
  color: red;
}

.inout {
  background-color: lightblue;
  padding: 10px;
}